/* =Typography
-------------------------------------------------------------- */

/// Sets up vertical rhythm.
@mixin cadence( $font, $line, $unit ) {

	*{
		font-size: ($font + $unit);
		line-height: ($line + $unit);

	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ol,
	ul,
	table,
	blockquote,
	pre{
		margin-bottom: ($line + $unit);
	}

	h1{
		font-size: (($font * 2.5) + $unit);
		line-height: (($line * 2) + $unit);
	}

	h2{
		font-size: (($font * 2) + $unit);
		line-height: (($line * 2) + $unit);
	}

	h3{
		font-size: (($font * 1.5) + $unit);
		line-height: (($line * 2) + $unit);
	}

	h4{
		font-size: (($font * 1.125) + $unit);
		line-height: (($line * 2) + $unit);
	}

	h5{
		font-size: (($font * 1) + $unit);
		line-height: ($line + $unit);
	}

	h6{
		font-size: (($font * 0.875) + $unit);
		line-height: ($line + $unit);
	}

	blockquote{
		padding: ($line + $unit) ($line + $unit) 0 ($line + $unit);
	}

	blockquote p{
		margin-bottom: 0;
		padding-bottom: ($line + $unit);
	}

	blockquote cite{
		display: block;
		margin-top: ($line + $unit);
		text-align: right;
	}

	table{
		border-collapse: collapse;
	}

	th{
		line-height: (($line * 2) + $unit);
	}
	td{
		padding: 0 (($line * 0.625) + $unit);
	}

	ol,
	ul{
		margin-left: ($line + $unit);
	}

	sub{
		font-size: (($line * 0.625) + $unit);
		vertical-align: bottom;
	}

	sup{
		font-size: (($line * 0.625) + $unit);
		vertical-align: top;
	}

	em,
	var,
	kbd,
	strong,
	code{
		line-height: ($font + $unit);
	}
}
