/* =Grid Content Format
-------------------------------------------------------------- */
#main .thmfdn-grid {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	width: $two-column-wrap-width;

	> * {
		text-align: left;
	}

	
	.post {
		.wp-post-image {
			margin-left:  auto;
			margin-right:  auto;
		}

		@include breakpoint-medium {
			width: 30%;
			float: left;

			&:nth-of-type(3n+4) {
				clear: left;
			}

			&:nth-of-type(3n+2) {
				margin-left: 5%;
				margin-right: 5%;
			}
		}
	}
}

/* =Gallery Content Format
-------------------------------------------------------------- */
#main .thmfdn-gallery .loop{
	@extend %four-columns;

	.wp-post-image {
		margin: 0 auto ( ($line * 2 ) + $unit) auto;
	}

	@include breakpoint-medium {
		.wp-post-image {
			margin: 0 auto ( ($line ) + $unit) auto;
		}
	}
}