/* =Grid
-------------------------------------------------------------- */
#main .thmfdn-grid {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	width: $two-column-wrap-width;

	> * {
		text-align: left;
	}

	
	.post {
		.wp-post-image {
			margin-left:  auto;
			margin-right:  auto;
		}

		@include tablet {
			width: 30%;
			float: left;

			&:nth-of-type(3n+4) {
				clear: left;
			}

			&:nth-of-type(3n+2) {
				margin-left: 5%;
				margin-right: 5%;
			}
		}
	}
}

#main .thmfdn-gallery {
	img {
		margin-bottom: $gutter;
	}

	// @include tablet {
	// 	@extend %two-columns;
	// }

	@include desktop {
		@extend %four-columns;
		
	}



}