h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: normal;
}

img {
	margin-bottom: ($line + $unit);
	max-width: 100%;
	height: auto;
}

/* =Forms
-------------------------------------------------------------- */
input {
	height: (($line * 2) + $unit);
	padding: 0 0.5rem;
}

input[type="text"],
input[type="password"],
textarea {
	border: 1px solid #ddd;
	background-color: $background;
}

button,
input[type="submit"] {
	background-color: #f6f6f6;
	border: 1px solid #ddd;
}

button:hover,
input[type="submit"]:hover {
	background-color: #eee;
	border: 1px solid #ccc;
	cursor: pointer;
}

