/* =Footer
-------------------------------------------------------------- */
.site-footer {

	.wrap {
		padding: ($line + $unit);
	}


	&.footer-before {
		@include footer-row( #333333, #222222, #ffffff );
	}

	&#footer {
		@include footer-row( #444444, #333333, #ffffff );
	}
	
	&.footer-after {
		@include footer-row( #eeeeee, #dddddd, #222222 );
	}

	&.widget-count-1,
	.widget-count-1 {
		text-align: center;

		.widget {
			margin-bottom: 0;
		}

		
		ul {
			display: block;
			margin: 0;

			ul {
				display: inline;
			}
		}

		li {
			display: inline-block;
			margin: 0;
		}

		a {
			color: #ffffff;
			display: inline-block;
			line-height: ($line * 2 ) + $unit;
			padding: 0 1rem;
		}
	}

	&.widget-columns {
		&.widget-count-2 .wrap {
			@extend %two-columns;
		}

		&.widget-count-3 .wrap {
			@extend %three-columns;
		}

		&.widget-count-4 .wrap {
			@extend %four-columns;
		}

		&.widget-count-5 .wrap {
			@extend %five-columns;
		}

		&.widget-count-6 .wrap {
			@extend %six-columns;
		}
	}

	&#footer {
		.widget-count-2 {
			@extend %two-columns;
		}

		.widget-count-3 {
			@extend %three-columns;
		}

		.widget-count-4 {
			@extend %four-columns;
		}

		.widget-count-5 {
			@extend %five-columns;
		}

		.widget-count-6 {
			@extend %six-columns;
		}
	}
}

