// Requires:
// variables.scss
// mixins.scss
// placeholders.scss

/* =Header
-------------------------------------------------------------- */
#mojs-toggle-container {
	background-color: #333333;
}

.menu-toggle-button {
	border-right: 1px solid #444444;
	line-height: (($line * 2) + $unit);
}

.menu-toggle-button:hover {
	background-color: #262626;
}

.site-header {
	.wrap {
		padding: 0 ($line + $unit);
	}

	&.header-before {
		@include header-row( #333333, #222222, #ffffff );
	}

	&#header {
		@include header-row( #ffffff, #f6f6f6, #222222 );
	}

	&.header-after {
		@include header-row( #f6f6f6, #eeeeee, #222222 );
	}


	.site-title {
		text-align: center;
		margin-bottom: 0;
		text-transform: uppercase;

		a {
			font-size: 2rem;
			line-height: ($line * 4) + $unit;

			@include breakpoint-large {
				line-height: ($line * 6) + $unit;
			}
		}
	}

	.site-description {
		text-align: center;
		line-height: ($line + $unit);
		margin-bottom: ($line + $unit); 

		@include breakpoint-large {
			margin-left: 25px;
			margin-bottom: 0; 
			float: left;
			line-height: ($line * 6) + $unit;
		}
	}

	.widget {
		margin-bottom: 0;
		line-height: (($line * 2) + $unit);

	}

	.widget-title {
		display: none;
		border: 0 solid;
		font-size: 1rem;
		margin-right: 0.5rem;
	}

	.textwidget {
		margin-right: 0.5rem;
	}



	.widget_archive {

		.widget-title {
			display: inline;
		}
	}

	.widget_text {
		text-align: center;
	}

	.widget_text {

		* {
			display: inline;
			margin-bottom: 0;
		}

		.widget-title {
			display: none;
		}
	}

	.widget_search {
		margin: 0 auto;
		padding: ($line + $unit);
		display: block;
		width: 300px;
	}

	@include breakpoint-medium {
		.widget {
			float: none;
		}
	}

	@include breakpoint-large {
		p {
			margin-bottom: 0;
		}

		.site-title {
			float: left;
		}

		.site-title a {
			display: block;
			margin-bottom: 0;
		}

		#logo {
			float: left;
			margin-right: 25px;
		}

		.widget {
			float: left;
			margin-right: 1em;
		}

		.widget_search {
			float: right;
			padding: 0;
		}
	}
}

#header {
	.widget {
		line-height: ($line * 4) + $unit;

		@include breakpoint-large {
			float: right;
			line-height: ($line * 6) + $unit;
		}
	}

	.widget_nav_menu {
		.thmfdn-descriptive-menu {
			a {
				line-height: (($line * 1.5) + $unit);
				padding-top: (($line * 1.75) + $unit);
				padding-bottom: (($line * 1.75) + $unit);
			}

			ul a {
				padding-top: 0;
				padding-bottom: 0;
				line-height: (($line * 2) + $unit);
			}
		}
	}

	.widget_search {
		input[type="search"] {
			border: 1px solid #f6f6f6 !important;
			border-right: 0 solid !important;
		}

		@include breakpoint-large {
			margin-top: (($line * 2) + $unit);
		}
	}
}

/* =Menu
-------------------------------------------------------------- */
%inside-header-menu {

	@include breakpoint-large {
		float: right;
	}

	> li > a {
		line-height: ($line * 3) + $unit;

		@include breakpoint-large {
			line-height: ($line * 6) + $unit;
		}

		ul li a {
			line-height: (($line * 2) + $unit);
		}
	}
}

#header .menu,
#header .widget_archive ul:first-of-type,
#header .widget_categories ul:first-of-type,
#header .widget_meta ul:first-of-type,
#header .widget_recent_entries ul:first-of-type,
#header .widget_pages ul:first-of-type {
	@extend %inside-header-menu;
}

%header-menu {

	a {
		line-height: (($line * 2) + $unit);
		padding: 0 (($line * 0.5) + $unit);
	}

	ul {
		min-width: 100%;

		li {
			float: none;
		}
	}

}

.site-header .menu,
.site-header .widget_archive ul:first-of-type,
.site-header .widget_categories ul:first-of-type,
.site-header .widget_meta ul:first-of-type,
.site-header .widget_recent_entries ul:first-of-type,
.site-header .widget_pages ul:first-of-type {
	@extend %header-menu;
}
