// Requires:
// variables.scss

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin breakpoint-small {
	@media (min-width: #{$breakpoint-small}) {
		@content;
	}
}

@mixin breakpoint-medium {
	@media (min-width: #{$breakpoint-medium}) {
		@content;
	}
}

@mixin breakpoint-large {
	@media (min-width: #{$breakpoint-large}) {
		@content;
	}
}

@mixin breakpoint-xlarge {
	@media (min-width: #{$breakpoint-xlarge}) {
		@content;
	}
}


@mixin header-row($background-color, $background-color-hover, $color ) {
	background-color: $background-color;
	color: $color;

	a,
	ul li a {
		background-color: $background-color;
		color: $color;
		text-decoration: none;
	}

	a:hover,
	a:focus,
	ul li a:hover,
	ul li a:focus {
		background-color: $background-color-hover;
	}
}

@mixin footer-row($background-color, $background-color-hover, $color ) {
	background-color: $background-color;
	color: $color;

	a {
		color: $color;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}