/* =Row Defaults
-------------------------------------------------------------- */
.row {
	clear: both;
}

.row > .wrap {
	@include outer-container;
	width: 90%;
}

/* =Column Defaults
-------------------------------------------------------------- */
.primary,
.secondary,
.tertiary  {
	margin: 0 auto $gutter;
	padding-left: 25px;
	padding-right: 25px;
}

/* =Content Only
-------------------------------------------------------------- */
.content-only {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		.primary {
			@include span-columns(8);
			@include shift(2);
		}
	}
}

/* =Full Width Content
-------------------------------------------------------------- */
.content-full-width {
	.primary {
		max-width: 100%;
		width: 100%;
		margin: 0;
	}
}

/* =Content/Sidebar
-------------------------------------------------------------- */
.content-sidebar {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		.primary {
			@include span-columns(8);
		}

		.secondary {
			@include span-columns(4);
		}
	}
}

/* =Sidebar/Content
-------------------------------------------------------------- */
.sidebar-content {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		@include direction-context(right-to-left) {
			.primary {
				@include span-columns(8);
			}

			.secondary {
				@include span-columns(4);
			}
		}
	}
}

/* =Content/Sidebar/Sidebar
-------------------------------------------------------------- */
.content-sidebar-sidebar {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		.primary {
			@include span-columns(8);
		}

		.secondary,
		.tertiary {
			@include span-columns(4);

			clear: right;
			float: right;
			margin-right: 0;
		}
	}

	@include breakpoint-large {
		#main .wrap {
			max-width: $three-column-wrap-width;
		}

		.primary {
			@include span-columns(6);
		}

		.secondary {
			@include span-columns(3);
		}

		.tertiary {
			@include span-columns(3);
		}
	}
}

/* =Sidebar/Sidebar/Content
-------------------------------------------------------------- */
.sidebar-sidebar-content {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		@include direction-context(right-to-left) {
			.primary {
				@include span-columns(8);
			}

			.secondary,
			.tertiary {
				@include span-columns(4);

				float: left;
				clear: left;
				margin-left: 0;
			}
		}
	}

	@include breakpoint-large {
		#main .wrap {
			max-width: $three-column-wrap-width;
		}

		@include direction-context(right-to-left) {

			.primary {
				@include span-columns(6);
			}

			.secondary,
			.tertiary {
				@include span-columns(3);
			}
		}
	}
}

/* =Sidebar/Content/Sidebar
-------------------------------------------------------------- */
.sidebar-content-sidebar {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		.primary {
			@include span-columns(8);
		}

		.secondary,
		.tertiary {
			@include span-columns(4);

			clear: right;
			float: right;
			margin-right: 0;
		}
	}

	@include breakpoint-large {
		#main .wrap {
			max-width: $three-column-wrap-width;
		}

		.primary {
			@include span-columns(6);
			@include shift(3);
		}

		.secondary {
			@include span-columns(3);
			@include shift(-9);
		}

		.tertiary {
			@include span-columns(3);
		}

	}
}

/* =Widget Area Columns
-------------------------------------------------------------- */
.widget-columns {
	&.widget-count-2 .wrap {
		@extend %two-columns;
	}

	&.widget-count-3 .wrap {
		@extend %three-columns;
	}

	&.widget-count-4 .wrap {
		@extend %four-columns;
	}

	&.widget-count-5 .wrap {
		@extend %five-columns;
	}

	&.widget-count-6 .wrap {
		@extend %six-columns;
	}

	@include breakpoint-medium {

		&.widget-count-2 .widget {
			@include span-columns(6);
			@include omega(2n);
		}

		&.widget-count-3 .widget,
		&.widget-count-6 .widget {
			@include span-columns(4);
			@include omega(3n);
		}
	}

	@include breakpoint-large {
		 
		// &.widget-count-4 .widget{
		// 	@include omega-reset(2n);
		// 	@include span-columns(3);
		// 	@include omega(4n);
		// }
		 
		// &.widget-count-5 .widget{
		// 	@include omega-reset(2n);
		// 	@include span-columns(2);
		// 	@include omega(5n);

		// 	&:first-child {
		// 		@include shift(1);
		// 	}
		// }
		 
		&.widget-count-6 .widget{
			@include omega-reset(3n);
			@include span-columns(2);
			@include omega(6n);
		}
	}
}

/* This was built before adding the Neat grid... */
// .widget-columns {

// 	.widget{
// 		padding: 0 $line + $unit;
// 	}

// 	@include breakpoint-medium {

// 		&.widget-count-2 .widget,
// 		&.widget-count-4 .widget,
// 		&.widget-count-5 .widget {
// 			float: left;
// 			width: 50%;

// 			&:nth-child(odd) {
// 				clear: left;
// 			}
// 		}

// 		&.widget-count-3 .widget,
// 		&.widget-count-6 .widget {
// 			float: left;
// 			width: 33.333333333%;

// 			&:nth-child(3n+4) {
// 				clear: left;
// 			}
// 		}
		
// 		&.widget-count-5 .widget {
// 			&:last-child {
// 				margin-left: 25%;
// 			}
// 		}
// 	}

// 	@include breakpoint-large {
		 
// 		&.widget-count-4 .widget{
// 			float: left;
// 			width: 25%;

// 			&:nth-child(odd) {
// 				clear: none;
// 			}
// 		}
		 
// 		&.widget-count-5 .widget{
// 			float: left;
// 			width: 20%;

// 			&:nth-child(odd) {
// 				clear: none;
// 				margin-left: 0;
// 			}
// 		}
		 
// 		&.widget-count-6 .widget{
// 			float: left;
// 			width: 16.666666667%;

// 			&:nth-child(3n+4) {
// 				clear: none;
// 			}
// 		}
// 	}
// }

/* =Float Clearing
-------------------------------------------------------------- */
// .wrap:after,
// .widget:after {
// 	content: "";
// 	display: table;
// 	clear: both;
// }
