/* =Row Defaults
-------------------------------------------------------------- */
.row {
	clear: both;

	> .wrap {
		@include outer-container;
		width: 90%;
	}
}


/* =Column Defaults
-------------------------------------------------------------- */
.primary,
.secondary,
.tertiary  {
	margin: 0 auto $line + $unit;
	padding-left: $line + $unit;
	padding-right: $line + $unit;
}

/* =Content Only
-------------------------------------------------------------- */
.content-only {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		.primary {
			@include span-columns(8);
			@include shift(2);
		}
	}
}

/* =Full Width Content
-------------------------------------------------------------- */
.content-full-width {
	.primary {
		max-width: 100%;
		width: 100%;
		margin: 0;
	}
}

/* =Content/Sidebar
-------------------------------------------------------------- */
.content-sidebar {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		.primary {
			@include span-columns(8);
		}

		.secondary {
			@include span-columns(4);
		}
	}
}

/* =Sidebar/Content
-------------------------------------------------------------- */
.sidebar-content {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		@include direction-context(right-to-left) {
			.primary {
				@include span-columns(8);
			}

			.secondary {
				@include span-columns(4);
			}
		}
	}
}

/* =Content/Sidebar/Sidebar
-------------------------------------------------------------- */
.content-sidebar-sidebar {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		.primary {
			@include span-columns(8);
		}

		.secondary,
		.tertiary {
			@include span-columns(4);

			clear: right;
			float: right;
			margin-right: 0;
		}
	}

	@include breakpoint-large {
		#main .wrap {
			max-width: $three-column-wrap-width;
		}

		.primary {
			@include span-columns(6);
		}

		.secondary {
			@include span-columns(3);
		}

		.tertiary {
			@include span-columns(3);
		}
	}
}

/* =Sidebar/Sidebar/Content
-------------------------------------------------------------- */
.sidebar-sidebar-content {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		@include direction-context(right-to-left) {
			.primary {
				@include span-columns(8);
			}

			.secondary,
			.tertiary {
				@include span-columns(4);

				float: left;
				clear: left;
				margin-left: 0;
			}
		}
	}

	@include breakpoint-large {
		#main .wrap {
			max-width: $three-column-wrap-width;
		}

		@include direction-context(right-to-left) {

			.primary {
				@include span-columns(6);
			}

			.secondary,
			.tertiary {
				@include span-columns(3);
			}
		}
	}
}

/* =Sidebar/Content/Sidebar
-------------------------------------------------------------- */
.sidebar-content-sidebar {
	@include breakpoint-medium {
		#main .wrap {
			max-width: $two-column-wrap-width;
		}

		.primary {
			@include span-columns(8);
		}

		.secondary,
		.tertiary {
			@include span-columns(4);

			clear: right;
			float: right;
			margin-right: 0;
		}
	}

	@include breakpoint-large {
		#main .wrap {
			max-width: $three-column-wrap-width;
		}

		.primary {
			@include span-columns(6);
			@include shift(3);
		}

		.secondary {
			@include span-columns(3);
			@include shift(-9);
		}

		.tertiary {
			@include span-columns(3);
		}

	}
}

/* =Clearfix
-------------------------------------------------------------- */
.wrap:after,
.widget:after,
.gallery:after {
	content: "";
	display: table;
	clear: both;
}
