// Requires:
// bourbon
// neat
// variables.scss
// mixins.scss

/* =Row Defaults
-------------------------------------------------------------- */
.row > .wrap {
	@include outer-container;
	width: 90%;
}


/* =Column Defaults
-------------------------------------------------------------- */
.primary,
.secondary,
.tertiary  {
	margin: 0 auto $line + $unit;
	padding-left: $line + $unit;
	padding-right: $line + $unit;
}

/* =Content Only
-------------------------------------------------------------- */
.content-only #main .wrap {
	@include breakpoint-medium {
		@include content-only( 8, 2 );
		max-width: $two-column-wrap-width;
	}
}

/* =Full Width Content
-------------------------------------------------------------- */
.content-full-width #main .wrap {
	@include content-full-width();
}

/* =Content/Sidebar
-------------------------------------------------------------- */
.content-sidebar #main .wrap {
	@include breakpoint-medium {
		@include content-sidebar( 8, 4 );
		max-width: $two-column-wrap-width;
	}
}

/* =Sidebar/Content
-------------------------------------------------------------- */
.sidebar-content #main .wrap {
	@include breakpoint-medium {
		@include sidebar-content( 4, 8 );
		max-width: $two-column-wrap-width;
	}
}

/* =Content/Sidebar/Sidebar
-------------------------------------------------------------- */
.content-sidebar-sidebar #main .wrap{
	@include breakpoint-medium {
		@include content-sidebar( 8, 4 );
		max-width: $two-column-wrap-width;
	}

	@include breakpoint-large {
		@include content-sidebar-sidebar( 6, 3, 3 );
		max-width: $three-column-wrap-width;
	}
}

/* =Sidebar/Content/Sidebar
-------------------------------------------------------------- */
.sidebar-content-sidebar #main .wrap {
	@include breakpoint-medium {
		@include content-sidebar( 8, 4 );
		max-width: $two-column-wrap-width;
	}

	@include breakpoint-large {
		@include sidebar-content-sidebar( 3, 6, 3 );
		max-width: $three-column-wrap-width;
	}
}

/* =Sidebar/Sidebar/Content
-------------------------------------------------------------- */
.sidebar-sidebar-content #main .wrap {
	@include breakpoint-medium {
		@include sidebar-content( 4, 8 );
		max-width: $two-column-wrap-width;
	}

	@include breakpoint-large {
		@include sidebar-sidebar-content( 3, 3, 6 );
		max-width: $three-column-wrap-width;
	}
}

/* =Clearfix
-------------------------------------------------------------- */
.wrap,
.widget,
.gallery {
	@extend %clearfix;
}
