// Requires:
// variables.scss

/* =Widgets
-------------------------------------------------------------- */

.widget {
	margin-bottom: ($line + $unit);
}

.widget li {
	margin: 0 0 ($line + $unit);
}

.widget select {
	max-width: 100%;
}

.widget li li {
	margin: ($line + $unit) 0 0 (($line * 0.75) + $unit);
}

.widget_tag_cloud {
	a {
		background-color: transparent;
	}
}

.widget ol,
.widget ul {
	list-style-type: none;
	margin-left: 0;
}

.widget-title {
	border-bottom: 1px solid $border;
	margin-top: -1px;
}


/* =Search
-------------------------------------------------------------- */
.widget_search {

	label {
		line-height: 0;
	}

	input {
		border: 1px solid #dddddd;
		margin-top: -1px;
		display: block;
		height: 45px;
		float: left;
	}

	input[type="search"] {
		background-color: $background;
		float: left;
		width: 70%;
	}

	input[type="submit"] {
		background-color: #f6f6f6;
		border-left: 0 solid;
		float: left;
		width: 30%;

		&:hover {
			border-left: 0 solid;
		}
	}
}

