/* =Widgets (mobile)
-------------------------------------------------------------- */

.widget {
	margin-bottom: 1.375rem;
}

.widget li {
	margin: 0 0 1.375rem; /* 0 0 22px */
}

.widget select {
	max-width: 100%;
}

.widget li li {
	margin:1.375rem 0 0 1rem; /* 22px 0 0 16px */
}

.widget_search label {
	line-height: 0;
}

.widget_search {

	input[type="search"] {
		float: left;
		width: 70%;
	}

	input[type="submit"] {
		float: left;
		width: 30%;
	}
}

.widget_tag_cloud {
	a {
		background-color: transparent;
	}
}