// Requires:
// variables.scss
// mixins.scss
// placeholders.scss

/* =WordPress classes
-------------------------------------------------------------- */

.wp-caption {
	max-width: 100%;
	height: auto;
	margin-bottom: ($line + $unit);
}

.wp-caption {
	text-align: center;
	padding: 5px;
	border: 1px solid #dddddd;
	margin-bottom: 1.375rem;
}

.wp-caption img {
	margin-bottom: 0;
}

.wp-caption-text {
	text-align: center;
	margin-bottom: 0;
}

.wp-post-image {
	display: block;
}

.sticky {}
.gallery-caption {}
.bypostauthor {}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.alignright {
	float: right;
	margin-left: 1rem;
}

.alignleft {
	float: left;
	margin-right: 1rem;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* =Gallery ( Used _s as a starting point: https://github.com/Automattic/_s/blob/master/style.css )
-------------------------------------------------------------- */

.gallery {
	margin-bottom: (($line * 2) + $unit);

	img {
		margin-bottom: 0;
	}
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-bottom: ($line + $unit);
	width: 100%;
}

.gallery-columns-2 {
	@extend %two-columns;
}

.gallery-columns-3 {
	@extend %three-columns;
}

.gallery-columns-4 {
	@extend %four-columns;
}

.gallery-columns-5 {
	@extend %five-columns;
}

.gallery-columns-6 {
	@extend %six-columns;
}

.gallery-columns-7 {
	@extend %seven-columns;

	figcaption {
		display: none;
	}
}

.gallery-columns-8 {
	@extend %eight-columns;

	figcaption {
		display: none;
	}
}

.gallery-columns-9 {
	@extend %nine-columns;

	figcaption {
		display: none;
	}
}

.gallery-caption {
	display: block;
}

/* =Media Player
-------------------------------------------------------------- */
.mejs-container {
	margin-bottom: (($line * 2) + $unit);
}

/* =Single Post Navigation
-------------------------------------------------------------- */
.post-navigation {

	.nav-previous {
		float: left;

		a:before {
			display: inline-block;
			content: "\00ab";
			padding-right: ($line * 0.5) + $unit;
		}
	}

	.nav-next {
		float: right;

		a:after {
			display: inline-block;
			content: "\00bb";
			padding-left: ($line * 0.5) + $unit;
		}
	}

	a {
		line-height: ($line * 2) + $unit;
		background-color: $background-light;
		text-align: center;
		display: block;
		text-decoration: none;
		margin-bottom: $line + $unit;
		padding: 0 1rem;
	}

	a:hover {
		background-color: $background-light-hover;
	}
}

/* =Pagination Navigation
-------------------------------------------------------------- */
.pagination {
	clear: both;
	padding-top: ($line * 2) + $unit;

	a,
	span {
		line-height: ($line * 2) + $unit;
		background-color: $background-light;
		width: ($line * 2) + $unit;
		text-align: center;
		display: block;
		float: left;
		margin-right: ($line * 0.5) + $unit;
		text-decoration: none;
	}

	a:hover {
		background-color: $background-light-hover;
	}

	a.prev,
	a.next {
		width: auto;
		padding: 0 1rem;
	}

	*:last-child {
		border-right: 0 solid;
	}
}

/* =RSS Widget
-------------------------------------------------------------- */
.widget_rss {
	.widget-title img {
		display: block;
		float: left;
		margin: 1rem 1rem 0 0;
		line-height: ($line * 2) + $unit;
	}
}

/* =Post password
-------------------------------------------------------------- */
.post-password-form {
	border: 1px solid $border-light;
	padding: ($line * 2) + $unit;
	margin-bottom: $line + $unit;

	p {
		margin-bottom: 0;

		&:last-child {
			@include breakpoint-medium {
				margin-bottom: ($line * 2) + $unit;
			}
		}
	}

	label {
		font-size: 0;
	}

	input {
		width: 100%;
		font-size: 1rem;
		display: block;

		&[type="submit"] {
			margin-top: $line + $unit;
		}

		@include breakpoint-medium {
			float: left;

			&[type="password"] {
				margin-top: $line + $unit;
				width: 75%;
				border-right: 0 solid;
			}

			&[type="submit"] {
				width: 25%;
			}
		}
	}
}

/* =Comments
-------------------------------------------------------------- */

#comments {
	.comment-list {
		list-style: none;
		margin-left: 0;

		li {
			padding: $line + $unit 0;
		}

		.comment-body {

			.avatar {
				float: left;
				margin-right: $line + $unit;
			}

			.comment-author a {
				float: left;
				line-height: ($line * 1.5) + $unit;
				// background-color:#444;
			}

			.says {
				display: none;
			}

			.comment-metadata {
				margin-top: -$line + $unit;
				margin-left: ($line * 4) + $unit;
				// background-color: #ccc;
				line-height: ($line * 1.5) + $unit;
				float: left;
				clear: left;
			}

			.comment-content {
				clear: both;
			}
		}

		.children {
			list-style: none;
			margin-left: 0;
			border-left: 1px solid;
			padding-left: ($line * 0.5) + $unit;
		}
	}

}


/* =Comment Form
-------------------------------------------------------------- */

#respond {
	input,
	textarea {
		width: 100%;
	}
}
