// Requires:
// variables.scss

/* =Standard Elements
-------------------------------------------------------------- */
body {
	font-size: 100%;
	@include cadence( 1, 1.375, rem );
}

* {
	font-family: 'Open Sans', helvetica, sans-serif;
}

img {
	margin-bottom: ($line + $unit);
	max-width: 100%;
	height: auto;
}

/* =Forms
-------------------------------------------------------------- */
input {
	height: (($line * 2) + $unit);
	padding: 0 0.5rem;
}

textarea,
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="time"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"] {
	border: 1px solid #ddd;
	background-color: $background;
}

button,
input[type="submit"] {
	background-color: #f6f6f6;
	border: 1px solid #ddd;
}

button:hover,
input[type="submit"]:hover {
	background-color: #eee;
	border: 1px solid #ccc;
	cursor: pointer;
}
