// Requires:
// variables.scss
// mixins.scss

/* =Footer
-------------------------------------------------------------- */
.site-footer {

	.wrap {
		padding: ($line + $unit);
	}

	&.footer-before {
		@include footer-row( #f6f6f6, #eeeeee, #222222 );
	}

	&#footer {
		@include footer-row( #222222, #333333, #ffffff );
	}

	&.footer-after {
		@include footer-row( #ffffff, #eeeeee, #222222 );
	}

	.site-credits {
		float: left;
		line-height: ($line * 2 ) + $unit;
		padding: 0 1rem;
		margin-bottom: 0;
	}

	.footer-inside-widgets {
		float: right;
	}


	.thmfdn-footer-menu {

		ul {
			margin: 0;

			ul {
				display: inline;
			}
		}

		li {
			display: inline-block;
			margin: 0;
		}

		a {
			display: inline-block;
			line-height: ($line * 2 ) + $unit;
			padding: 0 1rem;
		}
	}

	@include breakpoint-small {
		.thmfdn-footer-menu {
			float: right;
		}
	}
}
