/* =Bourbon/Neat
-------------------------------------------------------------- */
/// Max width for Bourbon/Neat grid rows.
$max-width: 1600px;

/* =Breakpoints
-------------------------------------------------------------- */
/// Small breakpoint.
$breakpoint-small: 600px;

/// Medium breakpoint.
$breakpoint-medium: 900px;

/// Large breakpoint.
$breakpoint-large: 1140px;

/// Extra large breakpoint.
$breakpoint-xlarge: 1400px;

/* =Colors
-------------------------------------------------------------- */
/// Default background color.
$background: #ffffff;

/// Light background color.
$background-light: #f6f6f6;

/// Light background hover color.
$background-light-hover: #eeeeee;

/// Dark background color.
$background-dark: #222222;

/// Dark background hover color.
$background-dark-hover: #333333;

/// Default boarder color.
$border: #dddddd;

/// Light boarder color.
$border-light: #eeeeee;

/// Light boarder hover color.
$border-light-hover: #cccccc;

/* =Standard measurements
-------------------------------------------------------------- */
/// Default line height. Used all over the place, both directly and in Sass calculations.
$line: 1.375;

/// Default unit of measurement. Used in combination with $line.
$unit: rem;

/* =Layout widths
-------------------------------------------------------------- */
/// Max width for content area of two column layout.
$two-column-wrap-width: 1000px;

/// Max width for content area of three column layout.
$three-column-wrap-width: 1400px;
